---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import ArticleCard from "../components/ArticleCard.astro";
import {
  addPublishDateToArticles,
  extractFirstParagraphFromMarkdown,
} from "../lib/article.ts";
import { SITE_CONFIG } from "../config/site";

const articles = await getCollection("articles", ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
});
const sortedArticles = addPublishDateToArticles(articles).toSorted(
  (a, b) => b.publishDate.getTime() - a.publishDate.getTime(),
);
---

<Layout title="記事一覧" description={SITE_CONFIG.description}>
  <main class="container-main">
    <Breadcrumb items={[{ label: "ホーム", href: "/" }]} />
    <h1 class="text-3xl font-semibold mb-12 text-gray-900">記事一覧</h1>
    <div class="flex flex-col gap-12">
      {
        sortedArticles.map((article) => (
          <ArticleCard
            id={article.id}
            title={article.data.title}
            publishDate={article.publishDate}
            description={
              article.data.description ??
              (article.body
                ? extractFirstParagraphFromMarkdown(article.body)
                : undefined)
            }
            tags={article.data.tags}
            thumbnail={article.data.thumbnail}
          />
        ))
      }
    </div>
  </main>
</Layout>
