---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import { addPublishDateToArticles } from "../lib/article.ts";

const articles = await getCollection("articles", ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
});
const sortedArticles = addPublishDateToArticles(articles).toSorted(
  (a, b) => b.publishDate.getTime() - a.publishDate.getTime(),
);
---

<Layout>
  <main class="container-main">
    <Breadcrumb items={[{ label: "ホーム", href: "/" }]} />
    <h1 class="page-title">記事一覧</h1>
    <div class="article-list">
      {
        sortedArticles.map((article) => (
          <article class="relative">
            <h2 class="article-title">
              <a href={`/articles/${article.id}`} class="link-primary">
                {article.data.title}
              </a>
            </h2>
            <time
              datetime={article.publishDate.toISOString()}
              class="meta-date"
            >
              {article.publishDate.toLocaleDateString("ja-JP", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </time>
            {article.data.description && (
              <p class="article-description">{article.data.description}</p>
            )}
            {article.data.tags && article.data.tags.length > 0 && (
              <ul class="tag-list mt-3">
                {article.data.tags.map((tag) => (
                  <li class="tag-list-item">
                    <a href={`/tags/${tag}`} class="link-tag">
                      #{tag}
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </article>
        ))
      }
    </div>
  </main>
</Layout>
